@page
@model Pet_Reunion_Hub.Pages.COPINGRESOURCES.NEW.DeleteModel

@{
    ViewData["Title"] = "Delete";
    // Layout = "~/Pages/Shared/SignUp.cshtml";
}
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<style>
    /* Style for Edit and Back to List buttons */

    #edit {
        border-radius: 5px;
        background-color: #8b572a;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    #back {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #555; /* Darken the background color on hover */
    }
</style>


<h3>Are you sure you want to delete this?</h3>
<div style="padding: 30px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 20px; background-color: #fff;">
    <h4 style="white-space: pre-wrap; overflow-wrap: break-word;">
        @Model.RESOURCE.TITLE
    </h4>
    <hr />
    <dl class="row">
        <p><strong>Created on:</strong> @Model.RESOURCE.CreatedAt.ToString("dd-MMM-yyyy HH:mm:ss") (UTC)</p>
        <div class="form-group">
            @* <label asp-for="RESOURCE.FILEURL" class="control-label"><b>File Preview</b></label>
            <br />
            <img src="@Model.RESOURCE.FILEURL" class="img-thumbnail" style="max-width: 200px;" /> *@

        </div>
        <dt>Title:</dt>
        <dd style="white-space: pre-wrap; overflow-wrap: break-word;">@Model.RESOURCE.TITLE</dd>

        <dt>Description:</dt>
        <dd style="white-space: pre-wrap; overflow-wrap: break-word;">@Model.RESOURCE.DESCRIPTION</dd>

        <dt>URL Link to Resource:</dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.RESOURCE.LINK))
            {
                <a  href="@Model.RESOURCE.LINK" target="_blank" class="searchable">@Model.RESOURCE.LINK</a>
            }
            else
            {
                <p style="white-space: pre-wrap; overflow-wrap: break-word;">-</p>
            }
        </dd>

        <dt>Attached File:</dt>
        <p> <img src="@Model.RESOURCE.FILEURL" style="max-width: 200px; margin-right: 10px;" /></p>

        <p><strong>Category:</strong>
        <p> @Model.RESOURCE.TYPE</p>
        <br />
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RESOURCE.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <br />
        <br />
        <a asp-page="./Index" id="back">Back to My Materials</a>
    </form>
</div>
