@page
@model Pet_Reunion_Hub.Pages.COPINGRESOURCES.NEW.IndexModel

@{
    ViewData["Title"] = "Index";
    // Layout = "~/Pages/Shared/SignUp.cshtml";
}

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<style>

   
    #createnew {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

        #createnew:hover {
            background-color: #555;
        }

    #edit {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }


    #details {
        border-radius: 5px;
        background-color: #8b572a;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }


    #delete {
        border-radius: 5px;
        background-color: red;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }
</style>

<h1>My Resources</h1>

<p>
    <a asp-page="Create" id="createnew">Upload a New Resource</a>
</p>
<br />

<br />
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RESOURCE[0].TITLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESOURCE[0].DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESOURCE[0].LINK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESOURCE[0].FILEURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESOURCE[0].TYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESOURCE[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RESOURCE) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LINK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FILEURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
@foreach (var item in Model.RESOURCE.Reverse())
{
    <div style="border: 1px solid #ccc; padding: 30px; margin-bottom: 20px;  border-radius: 5px; background-color: #fff;">
        <h3>@item.TITLE </h3>
        <p><strong>Created on:</strong> @item.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</p>
        <p><strong>Description</strong> @item.DESCRIPTION</p>
        <p><strong></strong> @item.LINK</p>
        <p><strong>Category</strong> @item.TYPE</p>
        <p> <img src="@item.FILEURL" alt="FILE" style="max-width: 500px;" /></p>
       
        <P>
            <a asp-page="./Edit" asp-route-id="@item.Id" id="edit">Edit</a>
            <a asp-page="./Details" asp-route-id="@item.Id" id="details">Details</a>
            <a asp-page="./Delete" asp-route-id="@item.Id" id="delete">Delete</a>
        </p>
    </div>
}