@page
@model Pet_Reunion_Hub.Pages.PETMEMORIAL.POSTS.DeleteModel

@{
    ViewData["Title"] = "Delete";
//     Layout = "~/Pages/Shared/SignUp.cshtml";
// 
}
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<style>
    /* Style for Edit and Back to List buttons */

    #edit {
        border-radius: 5px;
        background-color: #8b572a;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    #back {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #555; /* Darken the background color on hover */
    }
</style>
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div style="border: 1px solid #ccc; padding: 30px; margin-bottom: 20px;  border-radius: 5px; background-color: #fff;">
    <h4>Post</h4>
    <hr />
    <p>Post ID: @Model.Post.Id</p>
    <b>Created on:</b>
    @Model.Post.CreatedAt.ToString("dd-MMM-yyyy HH:mm:ss")
    <br/>
    <dl class="row">

        <p><strong>Title:</strong>
        <p class="searchable">@(string.IsNullOrEmpty(Model.Post.Title) ? "-" : Model.Post.Title) </p>
        <br />

        <dt>Description:</dt>
        <dd style="white-space: pre-wrap; overflow-wrap: break-word;">@(Model.Post.Content != null ? Model.Post.Content : "-")</dd>
   
        @if (Model.Post.Media != null && Model.Post.Media.Any())
        {
            <p><strong>Media:</strong></p>
            <div class="media-container">
               

                @foreach (var mediaItem in Model.Post.Media)
                {
                    var lastSlashIndex = mediaItem.MediaUrl.LastIndexOf('/');
                    var fileName = mediaItem.MediaUrl.Substring(lastSlashIndex + 1);
                    var lastUnderscoreIndex = fileName.LastIndexOf('_');

                    if (lastUnderscoreIndex != -1)
                    {
                        var fileNameWithoutUniqueIdentifier = fileName.Substring(0, lastUnderscoreIndex);
                        <span style="display: block; font-size: small;">@fileNameWithoutUniqueIdentifier</span>
                    }
                    else
                    {
                        <span style="display: block; font-size: small;">@fileName</span>
                    }
                    @if (mediaItem.MediaType == "Image")
                    {
                        <img src="@mediaItem.MediaUrl" alt="Media Image" style="max-width: 500px; margin-right: 10px;">


                    }
                    else if (mediaItem.MediaType == "Video")
                    {
                        <video src="@mediaItem.MediaUrl" controls style="max-width: 500px; margin-right: 10px;"></video>


                    }
                    else if (mediaItem.MediaType == "Audio")
                    {
                        <audio src="@mediaItem.MediaUrl" controls style="max-width: 500px; margin-right: 10px;"></audio>

                    }
                }
            </div>
        }

        <dt>Privacy Settings:</dt>
        <dd style="white-space: pre-wrap; overflow-wrap: break-word;">@Model.Post.IsPublic</dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Post.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <br/>
        <br />
        <a asp-page="./Index" id="back">Back to My Posts</a>
    </form>
</div>
