@page
@model Pet_Reunion_Hub.Pages.PETMEMORIAL.POSTS.IndexModel

@{
    ViewData["Title"] = "Index";
    // Layout = "~/Pages/Shared/SignUp.cshtml";
}
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<style>

    #createnew {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

        #createnew:hover {
            background-color: #555;
        }

    #edit {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }


    #details {
        border-radius: 5px;
        background-color: #8b572a;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }


    #delete {
        border-radius: 5px;
        background-color: red;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }
</style>
<h1>Your Moments and Stories</h1>
<br/>
<p>
    Welcome to Your Moments and Stories. Here, you can store cherished memories of your beloved pet by creating different posts for each story.
    Feel free to add photos, videos, and audio recordings to preserve those special moments forever.
</p>
<p>
    <a asp-page="Create" id="createnew">Create a New Story</a>
</>
<br/>
    @foreach (var item in Model.Post.Reverse())
    {
        <div style="border: 1px solid #ccc; padding: 30px; margin-bottom: 20px;  border-radius: 5px; background-color: #fff;">
            
            @* <p><strong>Pet Name:</strong> @item.PetName</p> *@
            <p><strong>Caption:</strong> @item.Content</p>
            <p><strong>Visibility</strong> @item.IsPublic</p>
            <p><strong>Pet:</strong> @item.TributeId</p>

          @*   @if (item.Media != null && item.Media.Any())
            {
                <p><strong>Media:</strong></p>
                <div class="media-container">
                    @foreach (var mediaItem in item.Media)
                    {
                        <img src="@mediaItem.MediaUrl" alt="Media Image" style="max-width: 200px; margin-right: 10px;">
                    }
                </div>
            } *@
            <br/>
            <br/>

            <p>
                <a asp-page="./Edit" asp-route-id="@item.Id" id="edit">Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.Id" id="details">Details</a> 
                <a asp-page="./Delete" asp-route-id="@item.Id" id="delete">Delete</a>
            </p>
        </div>
    }

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].IsPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Tribute)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tribute.UserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@