@page
@model Pet_Reunion_Hub.Pages.LOSTPETREPORTING.GENERAL_LOCATION.IndexModel

@{
    ViewData["Title"] = "Index";
//     Layout = "~/Pages/Shared/SignUp.cshtml";
 }

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<style>

    #createnew {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

        #createnew:hover {
            background-color: #555;
        }

    #edit {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }


    #details {
        border-radius: 5px;
        background-color: #8b572a;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }


    #delete {
        border-radius: 5px;
        background-color: red;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }
</style>

@* <p>
    <a asp-page="Create">Create New</a>
</p> *@
<br/>
<p>
    @if (!Model.GENERALLOCATION.Any())
    {
        <a asp-page="Create" id="createnew">Set your residential area now</a>
    }
</p>
<table class="table" style="background-color: white; border-radius:5px;">
   @*  <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GENERALLOCATION[0].LOCATIONVALUE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GENERALLOCATION[0].User)
            </th>
            <th></th>
        </tr>
    </thead> *@
    <tbody>

    <h1>

    </h1>
@foreach (var item in Model.GENERALLOCATION) {
        <tr>
            <td>
                <b>@Html.DisplayFor(modelItem => item.LOCATIONVALUE)</b>
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td> *@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" id="edit">Change</a>
               @*  <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
<a style="background-color:#8b572a; border-radius:10px; padding:10px; text-decoration:none; color:white;" href="/HomePage"><b>Proceed to Home Page</b></a>