@* @page
@model Pet_Reunion_Hub.Pages.PETMEMORIAL.NEW.DetailsModel

@{
    ViewData["Title"] = "Details";
    // Layout = "~/Pages/Shared/SignUp.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Tribute</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tribute.PetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tribute.PetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tribute.PetType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tribute.PetType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tribute.PetBreed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tribute.PetBreed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tribute.PetSex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tribute.PetSex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tribute.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tribute.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tribute.DateOfAdoption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tribute.DateOfAdoption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tribute.DateOfDeparture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tribute.DateOfDeparture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tribute.Cause)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tribute.Cause)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tribute.TributeText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tribute.TributeText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tribute.TributePhoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tribute.TributePhoto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tribute.IsPublic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tribute.IsPublic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tribute.User)
        </dt>
        @* <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tribute.User.Id)
        </dd> *
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tribute?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
 *@


@page
@model Pet_Reunion_Hub.Pages.PETMEMORIAL.NEW.DetailsModel

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<style>
    /* Style for Edit and Back to List buttons */

    #edit {
        border-radius: 5px;
        background-color: #8b572a;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    #back {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #555; /* Darken the background color on hover */
    }
</style>

<div style="padding: 30px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 20px; background-color: #fff;">
    <h1>@Model.Tribute.PetName</h1>

    <hr />

    <dl>
       @*  <dt>Pet Name:</dt>
        <dd>@Model.Tribute.PetName</dd>
 *@
        <dt></dt>
        <dd><img src="@Model.Tribute.TributePhoto" alt="Pet Photo" style="max-width: 300px;" /></dd>

        @* <dt>Photo:</dt>
        <dd>@Model.Tribute.TributePhoto</dd> *@

        <dt>Pet Type:</dt>
        <dd>@Model.Tribute.PetType</dd>

        <dt>Breed:</dt>
        <dd>@Model.Tribute.PetBreed</dd>

        <dt>Sex:</dt>
        <dd>@Model.Tribute.PetSex</dd>

        <dt>Date of Birth:</dt>
        <dd>@Model.Tribute.DateOfBirth</dd>

        <dt>Date of Adoption:</dt>
        <dd>@Model.Tribute.DateOfAdoption </dd>

        <dt>Date of Departure:</dt>
        <dd>@Model.Tribute.DateOfDeparture</dd>

        <dt>Tribute Text:</dt>
        <dd>@Model.Tribute.TributeText  </dd>

        <dt>Public:</dt>
        <dd>@Model.Tribute.IsPublic </dd>

       @*  <dt>Main Photo:</dt>
        <dd><img src="@Model.Tribute.TributePhoto" alt="Pet Photo" style="max-width: 300px;" /></dd> *@

       
    </dl>

    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Tribute?.Id" class="btn" id="edit">Edit</a>
        <a asp-page="./Index" class="btn" id="back">Back to List</a>
    </div>
</div>
