@page
@model Pet_Reunion_Hub.Pages.PETMEMORIAL.NEW.IndexModel

@{
    ViewData["Title"] = "Index";
    // Layout = "~/Pages/Shared/SignUp.cshtml";
}

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<style>

   
    #createnew {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

        #createnew:hover {
            background-color: #555;
        }

    #edit {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }


    #details {
        border-radius: 5px;
        background-color: #8b572a;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }


    #delete {
        border-radius: 5px;
        background-color: red;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }
</style>
<h1>My Tributes</h1>
<br/>
<p>
    <a asp-page="Create" id="createnew">Create a New Tribute</a>
</p>
<br/>

<br/>
@foreach (var item in Model.Tribute.Reverse())
{
    <div style="border: 1px solid #ccc; padding: 30px; margin-bottom: 20px;  border-radius: 5px; background-color: #fff;">
        <h3>@item.PetName </h3>
        <p> <img src="@item.TributePhoto" alt="Pet Photo" style="max-width: 500px;" /></p>
        @* <p><strong>Pet Name:</strong> @item.PetName</p> *@
        <p><strong>Pet Type:</strong> @item.PetType</p>
        <p><strong>Breed:</strong> @item.PetBreed</p>
        <p><strong>Sex:</strong> @item.PetSex</p>
        <p><strong>Date of Birth:</strong> @item.DateOfBirth</p>
        <p><strong>Date of Adoption:</strong> @item.DateOfAdoption</p>
        <p><strong>Date of Departure:</strong> @item.DateOfDeparture</p>
        <p><strong>Cause of Death:</strong> @item.Cause</p>
        <p><strong>Tribute Text:</strong> @item.TributeText</p>
       @*  <p><strong>Pet Photo:</strong> @item.TributePhoto</p> *@
        <p><strong>Visibility:</strong> @item.Visibility</p>
        <p><strong>Created At:</strong> @item.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</p>
        @* <p><strong>Main Photo:</strong> <br/> <img src="@item.MainPhoto" alt="Pet Photo" style="max-width: 300px;" /></p> *@
        <p>
            <a asp-page="./Edit" asp-route-id="@item.Id" id="edit">Edit</a> 
            <a asp-page="./NEWDETAIL" asp-route-id="@item.Id" id="details">Details</a> 
            <a asp-page="./Delete" asp-route-id="@item.Id" id="delete">Delete</a>
        </p>
    </div>
}
 
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tribute[0].PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tribute[0].PetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tribute[0].PetBreed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tribute[0].PetSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tribute[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tribute[0].DateOfAdoption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tribute[0].DateOfDeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tribute[0].Cause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tribute[0].TributeText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tribute[0].TributePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tribute[0].IsPublic)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Tribute[0].User)
            </th> 
           <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tribute) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetBreed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetSex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAdoption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDeparture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cause)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TributeText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TributePhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
           
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
 