@page
@model Pet_Reunion_Hub.Pages.LOSTPETREPORTING.NEW.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<style>
    /* Style for Edit and Back to List buttons */

    #edit {
        border-radius: 5px;
        background-color: #8b572a;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    #back {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #555; /* Darken the background color on hover */
    }
</style>


<h3>Are you sure you want to delete this?</h3>
<div style="padding: 30px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 20px; background-color: #fff;">
    <h4>Confirm Deletion</h4>
    <hr />
    <b>Created on:</b>
    @Model.CreateReport.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")
    <br/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateReport.PetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateReport.PetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateReport.PetBreed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateReport.PetBreed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateReport.PetGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateReport.PetGender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateReport.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateReport.DateOfBirth)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateReport.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateReport.Age)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateReport.PetMicrochipID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateReport.PetMicrochipID)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateReport.AdditionalDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateReport.AdditionalDescription)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateReport.GenLoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateReport.GenLoc)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateReport.LastSeenLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateReport.LastSeenLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateReport.LastSeenTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateReport.LastSeenTime)
        </dd>


      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateReport.ContactInformation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateReport.ContactInformation)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CreateReport.Id" />
        <input type="submit" id="delete" value="Delete" class="btn btn-danger" /> 
        <br/>
        <br />
        <a asp-page="./Index" id="back">Back to List</a>
    </form>
</div>
