@page
@model Pet_Reunion_Hub.Pages.LOSTPETREPORTING.NEW.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<style>
    /* Style for Edit and Back to List buttons */

    #edit {
        border-radius: 5px;
        background-color: #8b572a;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    #back {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #555; /* Darken the background color on hover */
    }
</style>


<h3>Are you sure you want to delete this?</h3>
<div style="padding: 30px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 20px; background-color: #fff;">
    <h1 style="white-space: pre-wrap; overflow-wrap: break-word;">@Model.CreateReport.PetName</h1>

    <hr />
    <p>
        <b>Created on:</b>
        @Model.CreateReport.CreatedAt.ToString("dd-MMM-yyyy HH:mm:ss")
    </p>
    <dl>
        <dt>Pet Name:</dt>
        <dd style="white-space: pre-wrap; overflow-wrap: break-word;">@Model.CreateReport.PetName</dd>

        <p><strong>Type:</strong></p>
        <p style="white-space: pre-wrap; overflow-wrap: break-word;" class="searchable"> @Model.CreateReport.PetType</p>
        <br />

        <dt>Pet Breed:</dt>
        <dd style="white-space: pre-wrap; overflow-wrap: break-word;">@Model.CreateReport.PetBreed</dd>

        <dt>Sex:</dt>
        <dd style="white-space: pre-wrap; overflow-wrap: break-word;">@Model.CreateReport.PetGender</dd>

        <dt>Date of Birth:</dt>
        <dd>@(Model.CreateReport.DateOfBirth != null ? Model.CreateReport.DateOfBirth.Value.ToString("dd-MMM-yyyy HH:mm") : "-")</dd>

        <dt>Estimated Age:</dt>
        <dd style="white-space: pre-wrap; overflow-wrap: break-word;">@Model.CreateReport.Age</dd>

        <dt>Pet Microchip ID:</dt>
        <dd>@(Model.CreateReport.PetMicrochipID != null ? Model.CreateReport.PetMicrochipID:"-")</dd>

        <dt>Additional Description:</dt>
        <dd style="white-space: pre-wrap; overflow-wrap: break-word;">@Model.CreateReport.AdditionalDescription</dd>

        <dt>General Location:</dt>
        <dd style="white-space: pre-wrap; overflow-wrap: break-word;">@Model.CreateReport.GenLoc</dd>

        <dt>Last Seen Location:</dt>
        <dd style="white-space: pre-wrap; overflow-wrap: break-word;">@Model.CreateReport.LastSeenLocation</dd>

        <dt>Last Seen Time:</dt>
        <dd>@Model.CreateReport.LastSeenTime.Value.ToString("dd-MMM-yyy HH:mm")</dd>

        @*  <dt>Main Photo:</dt>
        <dd><img src="@Model.CreateReport.MainPhoto" alt="Pet Photo" style="max-width: 300px;" /></dd> *@

        <div>
            <h4>Additional Photos</h4>
            @if (Model.CreateReport.ReportPhotos != null && Model.CreateReport.ReportPhotos.Any())
            {
                <div>
                    @foreach (var photo in Model.CreateReport.ReportPhotos)
                    {
                        <img src="@photo.PhotoUrl" alt="Additional Photo" style="max-width: 300px;" />

                    }
                </div>
            }
            else
            {
                <p>No additional photos available.</p>
            }
        </div>

        <dt>Contact Information:</dt>
        <dd style="white-space: pre-wrap; overflow-wrap: break-word;">@Model.CreateReport.ContactInformation</dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CreateReport.Id" />
        <input type="submit" id="delete" value="Delete" class="btn btn-danger" /> 
        <br/>
        <br />
        <a asp-page="./Index" id="back">Back to My Reports</a>
    </form>
</div>
