@* @page
@model Pet_Reunion_Hub.Pages.LOSTPETREPORTING.NEW.IndexModel

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateReport[0].PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateReport[0].PetBreed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateReport[0].PetGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateReport[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateReport[0].PetMicrochipID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateReport[0].LastSeenLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateReport[0].LastSeenTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreateReport[0].MainPhoto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreateReport[0].ContactInformation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CreateReport) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetBreed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetMicrochipID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSeenLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSeenTime)
            </td>


            <td>
                @* @Html.DisplayFor(modelItem => item.MainPhoto) 
                    <img src="@item.MainPhoto" alt="Pet Photo" style="max-width: 100px;" />
            </td>


            <td>

                @Html.DisplayFor(modelItem => item.ContactInformation)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@
@page
@model Pet_Reunion_Hub.Pages.LOSTPETREPORTING.NEW.IndexModel

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages

<style>
    
    #createnew {
        border-radius: 25px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

        #createnew:hover {
            background-color: #555; 
        }

    #edit {
        border-radius: 5px;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }

   
    #details {
        border-radius: 5px;
        background-color: #8b572a;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }

    
    #delete {
        border-radius: 5px;
        background-color: red;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: bold;
    }
</style>

<h1>My Reports</h1>
<br/>

<p>
    <a asp-page="Create" id="createnew">Make a New Report</a>
</p>
<br />
@foreach (var item in Model.CreateReport)
{
    <div style="border: 1px solid #ccc; padding: 30px; margin-bottom: 20px;  border-radius: 20px; background-color: #fff;">
        <h3>@item.PetName </h3>
        @* <p><strong>Pet Name:</strong> @item.PetName</p> *@
        <p><strong>Pet Breed:</strong> @item.PetBreed</p>
        <p><strong>Pet Gender:</strong> @item.PetGender</p>
        <p><strong>Date of Birth:</strong> @item.DateOfBirth</p>
        <p><strong>Estimated Age:</strong> @item.Age</p>
        <p><strong>Pet Microchip ID:</strong> @item.PetMicrochipID</p>
        <p><strong>Additional Description:</strong> @item.AdditionalDescription</p>
        <p><strong>General Location:</strong> @item.GenLoc</p>
        <p><strong>Last Seen Location:</strong> @item.LastSeenLocation</p>
        <p><strong>Last Seen Time:</strong> @item.LastSeenTime</p>
        <p><strong>Contact Information:</strong> @item.ContactInformation</p>
        <p><strong>Main Photo:</strong> <br/> <img src="@item.MainPhoto" alt="Pet Photo" style="max-width: 300px;" /></p>
        <p>
            <a asp-page="./Edit" asp-route-id="@item.Id" id="edit">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.Id" id="details">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.Id" id="delete">Delete</a>
        </p>
    </div>
}
 